
@import "ember-bootstrap/bootstrap";
.jumbotron {
  background-image: url(images/jumbotron.jpg);
  background-position: center;
  background-size: 100%;
  text-align: center;
  color: white;
  font-style: oblique;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(181, 193, 285);
}

.jumbotron h1 {
  font-size: 85px;
}

#footer {
  padding: 15px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(222, 240, 255, 1);
  text-align: center;
  color: blue;
}

.welcome {
  text-align: center;
}
.welcome p {
  font-style: italic;
  color: navy;
}

.rental-display {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: rgba(200, 230, 285, .2);
  border-radius: 20px;
  text-align: center;
  padding-top: 2%;
  font-size: 15px;
}

.reviews {
  text-align: center;
  margin-bottom: 50px;
}

.rental-deet {
  text-align: center;
}

.rental-img {
  max-width: 50%;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.announcement {
  text-align: center;
}

.announcement p {
  font-size: 20px;
}
