<header class= "jumbotron">
  <h1>Super Rentals</h1>
</header>
<div class= "container">
    {{outlet}}
  <hr>
  <div id="footer">
    {{#link-to 'index'}}Home{{/link-to}} . {{#link-to 'contact'}}Contact Us{{/link-to}} . {{#link-to 'about'}}About Us{{/link-to}} . {{#link-to 'announcement'}}Announcements{{/link-to}}
  </div>
</div>
